@font-face {
  font-weight: 400;
  font-family: Roboto;
  src: url("../fonts/Roboto-Regular.ttf");
}
@font-face {
  font-weight: bold;
  font-family: Roboto;
  src: url("../fonts/Roboto-Bold.ttf");
}
html {
  scroll-behavior: smooth;
}

body {
  color: #cacaca;
  font-size: 18px;
  font-family: Roboto, sans-serif;
  line-height: 1.5;
  background-color: #08020d;
}

a {
  color: #cacaca;
  text-decoration: none;
  width: max-content;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

.white {
  color: #fff;
}

.flex {
  display: flex;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.btn {
  text-transform: uppercase;
  cursor: pointer;
  border: 0;
  border-radius: 5px;
}

.h2-heading {
  margin-bottom: 48px;
  padding-top: 100px;
}

.text-center {
  text-align: center;
}

h1 {
  font-size: 60px;
  line-height: 90px;
  font-weight: bold;
  text-transform: uppercase;
}

h2 {
  font-size: 38px;
  line-height: 57px;
  font-weight: bold;
  text-transform: uppercase;
}

h3 {
  font-size: 30px;
  line-height: 45px;
}

h4 {
  font-size: 18px;
  line-height: 27px;
  font-weight: bold;
  text-transform: uppercase;
}

a:hover {
  color: #fff;
  cursor: pointer;
}

@media (max-width: 850px) {
  h1 {
    font-size: 30px;
    line-height: 45px;
  }
  h2 {
    font-size: 18px;
    line-height: 27px;
  }
  h3 {
    font-size: 16px;
    line-height: 24px;
  }
}
header {
  position: absolute;
  top: 25px;
  right: 0;
  left: 0;
  font-size: 11px;
  line-height: 16.5px;
  text-transform: uppercase;
}
header .main-container {
  justify-content: space-between;
}
header .main-container .navigation {
  justify-content: space-between;
}
header .main-container .logo {
  margin-right: 90px;
}
header .main-container .logo-image {
  width: 24px;
  height: 24px;
  margin-right: 16px;
}
header .main-container .link {
  margin-right: 24px;
}
header .main-container .search-button {
  min-width: 238px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  color: #757575;
  background-color: #3c3b3d;
  border: 0;
  border-radius: 50px;
}

@media (max-width: 850px) {
  .search-button {
    width: 100%;
    margin-top: 18px;
    line-height: 15px;
  }
}
@media (max-width: 570px) {
  header .main-container .navigation {
    flex-direction: column;
    align-items: flex-start;
    font-weight: bold;
    gap: 17px;
  }
  header .main-container nav {
    width: max-content;
    display: flex;
    flex-direction: column;
    gap: 3px;
  }
  header .main-container .link {
    line-height: 13px;
  }
}
.bg-gradient {
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}

.light-grey {
  color: #e0e0e0;
}

.footer {
  font-size: 16px;
}
.footer-links {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-top: 62px;
  padding-bottom: 70px;
}
.footer-links-social-media-icons {
  column-gap: 24px;
}
.footer-links-social-media-icons .google-icon {
  width: 26px;
  height: 17px;
}
.footer-links-social-media-icons .twitter-icon {
  width: 22px;
  height: 19px;
}
.footer-links-social-media-icons .facebook-icon {
  width: 12px;
  height: 20px;
}
.footer-links-social-media-icons .instagram-icon {
  width: 19px;
  height: 20px;
}
.footer-links .mb-15 {
  margin-bottom: 15px;
}
.footer-nav {
  padding: 40px 0 50px;
  border-top: 1px solid #cacaca;
}
.footer-nav-list {
  column-gap: 16px;
}

@media (max-width: 850px) {
  .footer-links {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 30px;
  }
}
@media (max-width: 600px) {
  .footer-links {
    grid-template-columns: 1fr;
    padding-bottom: 75px;
  }
  .footer-nav-list {
    flex-direction: column;
    gap: 16px;
  }
}
.banner {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-image: url("../images/banner.png");
  background-position: center;
  background-size: cover;
}
.banner-offer {
  width: calc(100% - 40px);
  margin: 31px 20px 17px;
  font-size: 16px;
}
.banner-access {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  min-height: 50px;
  padding: 0;
}
.banner-access-name, .banner-access-email {
  min-width: 248px;
  min-height: 46px;
  padding: 0;
  padding-left: 21px;
  color: #fff;
  background-color: transparent;
  border: 2px solid #cacaca;
  border-radius: 3px;
}
.banner-access-name::placeholder, .banner-access-email::placeholder {
  color: #fff;
  font-weight: bold;
  font-size: 14px;
}
.banner-access-button {
  grid-column: span 2;
  min-height: 15px;
  padding: 21px;
  color: #fff;
  font-size: 13.3px;
  line-height: 15px;
  background-color: #34c176;
}

@media (max-width: 600px) {
  .banner h1 {
    margin-top: 50px;
  }
  .banner-offer {
    margin-top: 16px;
  }
  .banner-access {
    width: 100%;
  }
  .banner-access * {
    grid-column: span 2;
  }
}
.cards {
  gap: 50px;
  color: #fff;
}
.cards .card {
  min-width: 318px;
  padding: 0 1.5rem;
  border-radius: 1rem;
}
.cards .card-name {
  margin-top: 24px;
  font-size: 24px;
  text-transform: uppercase;
}
.cards .card .flex-start {
  display: flex;
  justify-content: flex-start;
}
.cards .card-price {
  margin-top: 180px;
  margin-bottom: 30px;
  font-size: 32px;
  text-transform: uppercase;
}
.cards .card-price-count {
  font-size: 2em;
}
.cards .card-price-currency {
  padding: 15px;
}
.cards .card-button {
  min-width: 272px;
  padding: 21px;
  color: #fff;
  font-size: 16px;
  text-align: center;
  background-color: transparent;
  border: 1px solid #fff;
}
.cards .card-description {
  margin: 64px 0;
  font-size: 12.8px;
  text-align: center;
}
.cards .free-sub {
  background-image: url("../images/subscribe_1.png");
  background-position: center;
  background-size: cover;
}
.cards .standard-sub {
  background-image: url("../images/subscribe_2.png");
  background-position: center;
  background-size: cover;
}
.cards .premium-sub {
  background-image: url("../images/subscribe_3.png");
  background-position: center;
  background-size: cover;
}

.extra-info {
  min-width: 318px;
  margin-top: 45px;
  font-size: 16px;
  text-align: center;
}

@media (max-width: 570px) {
  .cards .card-name {
    margin-top: 16px;
    font-size: 16px;
  }
}
.news {
  gap: 65px;
}
.news-item {
  gap: 50px;
}
.news-item-picture img {
  max-width: 575px;
}
.news-item-info {
  max-width: 575px;
}
.news-item-info .news-body-heading {
  margin-bottom: 30px;
}
.news-item-info .news-body-text {
  margin-bottom: 22px;
  font-size: 16px;
}
.news-item-info .news-footer {
  font-size: 12.8px;
}
.news-item-info .news-footer .news-author {
  gap: 16px;
  margin-bottom: 69px;
}
.news-item-info .news-footer .news-author-company-name {
  color: #f89202;
  text-transform: uppercase;
}
.news-item-info .news-footer-button {
  padding: 16px 30px;
  border: 1px solid #cacaca;
}

@media (max-width: 850px) {
  .news-item {
    flex-wrap: wrap;
  }
  .news-item-picture img {
    max-width: 530px;
  }
  .news-item-info {
    max-width: 530px;
  }
  .news-item:nth-child(2) {
    flex-wrap: wrap-reverse;
  }
}
@media (max-width: 600px) {
  .news-item-picture img {
    max-width: 375px;
  }
  .news-item-info {
    max-width: 375px;
  }
}
.mobile-app {
  align-self: flex-start;
  padding-bottom: 100px;
}
.mobile-app-description {
  max-width: 600px;
}
.mobile-app-description-text {
  padding: 16px 0 24px;
  font-size: 16px;
}
.mobile-app-description-button {
  padding: 16px 40px;
  font-size: 12.8px;
  background-color: #95390c;
  border: 0;
  border-radius: 32px;
}
.mobile-app-picture {
  margin-left: 144px;
}

@media (max-width: 850px) {
  .mobile-app {
    flex-wrap: wrap-reverse;
    justify-content: center;
  }
  .mobile-app-picture {
    margin-left: 0;
  }
}
.main {
  background-image: url("../images/Morten Harket.png");
  background-position: center;
  background-size: cover;
}
.main-artist {
  width: 1200px;
  padding-top: 250px;
  padding-bottom: 225px;
}
.main-artist-subscribers {
  margin: 16px 0 48px;
  font-size: 16px;
}
.main-artist-buttons {
  gap: 24px;
}
.main-artist-buttons-mix {
  width: 140px;
  padding: 20px 30px;
  font-size: 12.8px;
  background-color: #5328a1;
}
.main-artist-buttons-favorites {
  width: 140px;
  padding: 20px 30px;
  font-size: 12.8px;
  background-color: #95390c;
}
.main-artist-buttons .icon {
  width: 20px;
  height: 20px;
  padding-right: 16px;
  filter: invert(100%);
}

@media (max-width: 1240px) {
  .main-artist {
    max-width: calc(100% - 40px);
    padding-top: 225px;
  }
}
.popular {
  color: #e0e0e0;
  font-size: 12.8px;
}
.popular-catalog {
  margin-top: 48px;
  row-gap: 25px;
}
.popular-track {
  width: 50%;
}
.popular-track .track-image {
  width: 55px;
  height: 55px;
  padding-right: 15px;
}
.popular-track .track-name {
  font-weight: bold;
  text-transform: uppercase;
}
.popular-track .track-duration {
  margin-right: 50px;
  margin-left: auto;
}

@media (max-width: 850px) {
  .popular-track {
    width: 100%;
  }
}
.discography {
  color: #e0e0e0;
  font-size: 16px;
}
.discography-catalog {
  margin-top: 48px;
  column-gap: 50px;
  row-gap: 25px;
}
.discography-item .album-image {
  width: 250px;
  height: 250px;
  padding-bottom: 12px;
}
.discography-item .album-name {
  font-weight: bold;
  font-size: 18px;
}

@media (max-width: 890px) {
  .discography-item {
    width: 137px;
  }
  .discography-item .album-image {
    width: 137px;
    height: 137px;
  }
}
.similar {
  padding-bottom: 100px;
  color: #e0e0e0;
  font-size: 16px;
}
.similar-catalog {
  margin-top: 48px;
  column-gap: 50px;
  row-gap: 25px;
}
.similar-item {
  text-align: center;
}
.similar-item .similar-image {
  width: 250px;
  height: 250px;
  padding-bottom: 12px;
}
.similar-item .similar-name {
  font-weight: bold;
  font-size: 18px;
}

@media (max-width: 890px) {
  .similar-item {
    width: 137px;
  }
  .similar-item .similar-image {
    width: 137px;
    height: 137px;
  }
}

/*# sourceMappingURL=style.css.map */
