header {
  position: absolute;
  top: 25px;
  right: 0;
  left: 0;

  font-size: 11px;
  line-height: 16.5px;
  text-transform: uppercase;

  .main-container {
    justify-content: space-between;

    .logo {
      position: relative;

      margin-right: 90px;
      margin-left: 40px;

      text-transform: uppercase;

      &::before {
        position: absolute;
        top: -5px;
        left: -40px;

        width: 24px;
        height: 24px;

        content: "";

        @include image("logo.svg");
      }
    }

    .link {
      margin-right: 24px;
    }

    .search-button {
      min-width: 238px;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 10px;

      color: #757575;

      background-color: $light-black;
      border: 0;
      border-radius: 50px;
    }
  }
}

@media (max-width: 850px) {
  .search-button {
    width: 100%;
    margin-top: 2px;
  }
}

@media (max-width: 570px) {
  .navigation {
    flex-direction: column;
    gap: 3px;

    font-weight: bold;
  }

  nav {
    width: max-content;
    display: flex;
    flex-direction: column;
    margin: 16px 0;
  }
}