.banner {
  padding-top: 200px;
  padding-bottom: 200px;

  text-align: center;

  @include image("banner.png");

  &-offer {
    margin: 31px 20px 17px;

    font-size: 16px;
  }

  &-access {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    min-height: 50px;

    &-name,
    &-email {
      min-width: 246px;
      min-height: 46px;
      padding: 0;
      padding-left: 21px;

      color: $white;

      background-color: transparent;
      border: 2px solid $grey;
      border-radius: 3px;

      &::placeholder {
        color: $white;
        font-weight: bold;
        font-size: 14px;
      }
    }

    &-button {
      grid-column: span 2;
      min-height: 15px;
      padding: 21px;

      color: $white;

      font-size: 13.3px;
      line-height: 15px;

      background-color: $green;
    }
  }
}

@media (max-width: 600px) {
  .banner {
    padding-top: 250px;

    &-offer {
      margin-top: 16px;
    }

    &-access {

      width: calc(100% - 40px);

      * {
        grid-column: span 2;
      }
    }
  }
}