.mobile-app {

  &-description {
    max-width: 600px;

    &-text {
      padding: 16px 0;

      font-size: 16px;
    }

    &-button {
      display: block;

      padding: 16px 40px;

      font-size: 12.8px;

      background-color: $light-brown;

      border: 0;
      border-radius: 32px;
    }
  }

  &-picture {
    margin-left: 144px;
  }
}

@media (max-width: 850px) {
  .mobile-app {
    flex-wrap: wrap-reverse;
    justify-content: center;

    &-picture {
      margin-left: 0;
    }
  }
}