.similar {
  padding-bottom: 100px;

  color: $light-grey;
  font-size: 16px;

  &-catalog {
    margin-top: 48px;

    column-gap: 50px;
    row-gap: 25px;
  }

  &-item {
    text-align: center;

    .similar-image {
      width: 250px;
      height: 250px;
      padding-bottom: 12px;
    }

    .similar-name {
      font-weight: bold;
      font-size: 18px;
    }
  }
}

@media (max-width: 890px) {
  .similar {
    &-item {
      width: 137px;

      .similar-image {
        width: 137px;
        height: 137px;
      }
    }
  }
}
