.cards {
  gap: 50px;

  margin-bottom: 40px;

  color: $white;

  .card {
    box-sizing: border-box;
    padding: 1.5rem;
    max-width: calc(1100px / 3);

    border-radius: 1rem;

    &-name {
      margin-bottom: 200px;

      font-weight: normal;
      text-transform: uppercase;
    }

    .flex-start {
      display: flex;
      justify-content: flex-start;
    }

    &-price {
      margin: 0;
      padding: 0;
      border: none;
      margin-bottom: 40px;
      font-size: 64px;
      line-height: 59px;

      &-currency {
        font-size: 32px;
        line-height: 48px;
        vertical-align: super;
        text-transform: uppercase;
      }
    }

    &-button {
      display: block;
      box-sizing: border-box;
      width: 100%;
      padding: 20px 30px;

      color: $white;
      font-size: 16px;

      text-transform: uppercase;

      border: 1px solid $white;
      border-radius: 5px;
    }

    &-description {
      margin-top: 64px;
      margin-bottom: 40px;

      font-size: 12.8px;
    }
  }

  .free-sub {
    @include image("subscribe_1.png");
    border-radius: 1rem;
  }

  .standard-sub {
    @include image("subscribe_2.png");
    border-radius: 1rem;
  }

  .premium-sub {
    @include image("subscribe_3.png");
    border-radius: 1rem;
  }
}

.extra-info {
  font-size: 16px;
  text-align: center;
}

@media (max-width: 850px) {
  .cards {
    .card {
      padding-top: 1rem;
      max-width: 100%;
    }
  }
}